  .container{
	width:100%;
  }
  
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
	  min-height:200px;
  }
  .logo img,.tiltle h1{
	display:inline;
	vertical-align:middle;
	margin-top: 10px;
    margin-bottom: 10px;
  }
  .logo {
	vertical-align:middle;
  }
  .logo img{
	height:70px;
	width:70px;
  }
  .title {
    font-size: 14px;
	color:#3276b1;
  }
  .header_logo{
	 //background: #151515;
	 width:100%;
	 margin:0;
  }
  body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #4e4e4e;
  line-height: 22px;
 }
 .navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  border:0px;
}  
 .navbar-inverse {
  background-color:#3276b1;
  color:#fff;
}
.navbar-inverse .navbar-nav>li>a{
  color:#fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #245594;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: #245594;
}
.navbar-inverse .navbar-nav li:hover, .navbar-inverse .navbar-nav li:focus{
 background-color: #245594;
}
 .navbar-inverse .navbar-nav li:hover>.dropdown-menu, .navbar-inverse .navbar-nav li:focus>.dropdown-menu{
	display:block;
}
 .navbar-inverse .navbar-nav li:hover>.sub-dropdown-menu, .navbar-inverse .navbar-nav li:focus>.sub-dropdown-menu{
	display:block;
}
.sub-dropdown-menu {
    font-size: 14px;
    list-style: outside none none;
	position: absolute;
    top: 0;
    left: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    list-style: outside none none;
    background-color: #FFF;
   /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    background-clip: padding-box;
}
.navbar-collapse.in {
   overflow:visible ;
}

#main-slider .prev, #main-slider .next {
  position: absolute;
  top: 44%;
  background-color: rgba(50, 118, 177, 0.61);
  color: #fff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 20px;
  z-index: 5;
}
.carousel-control {
  position: absolute;
  top: 44%;
  background-color: rgba(50, 118, 177, 0.61);
  color: #fff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 20px;
  z-index: 5;
}
.myaccount{
right:0px;
display:inline-block;
clear:both;
float:right;
}

#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: rgb(50, 118, 177);
}

#main-slider .prev {
  left: 10px;
}

#main-slider .next {
  right: 10px;
}


#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #c52d2f;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}
#feature {
  background: #f2f2f2;
  padding-bottom: 30px;
}

#services {
  background: #000 url(../images/services/bg_services.png);
  background-size: cover;
}
.services-wrap {
  padding: 40px 30px;
  background: #fff;
  border-radius: 4px;
  margin: 0 0 40px;
}

.navbar-brand{
  display:none;
}
 .navbar-brand,h2,.h2{
	text-align:center;
	text-transform:catpitalize;
}
  @media only screen and (min-width: 1074px) {
      .title h1{
		font-size:3em;
	  }
	  .logo img{
		height:100px;
		width:100px;
	  }
	  .navbar-brand,h2,.h2{
		font-size:2.25em;
	  }
	  .lead {
		font-size: 1.5em;
	  }
	  h3,.h3{
		font-size:1.75em;
	  }
  }
  
  @media only screen and (max-width: 920px) {
	  #main-slider .container {
	   padding-right: 5px;
	   padding-left: 5px;
	  }
	  .title h1{
		font-size:2.5em;
	  }
	  .logo img{
		height:80px;
		width:80px;
	  }
	  .navbar-brand,h2,.h2{
		font-size:2em;
	  }
	  .lead {
		font-size: 1em;
	  }
	  h3,.h3{
		font-size:1.5em;
	  }
	  /* .nav > li > a ,.dropdown-menu >li>a{
		padding-right: 10px;
		padding-left: 10px;
		font-size:13px;
	  } */
	  .navbar-collapse{
		padding:0px;
	  }
      .navbar-brand{
		display:none;
	  }
  }
  @media only screen and (max-width: 767px){
	  .navbar-brand{
		display:none;
	  }
	  .title h1{
		font-size:2em;
	  }
	  .navbar-brand,h2,.h2{
		font-size:1.5em;
	  }
	  h3,.h3{
		font-size:1.25em;
	  }
  }
  @media only screen and (max-width: 460px) {
	  .title h1{
		font-size:1.75em;
	  }
	  .logo img{
		height:70px;
		width:70px;
	  }
	  .navbar-brand,h2,.h2{
		font-size:1.5em;
	  }
	  h3,.h3{
		font-size:1.25em;
	  }
	  .services-wrap {
		padding: 20px 15px;
		margin: 0px 0px 20px;
	  }
  }
  @media only screen and (max-width: 320px) {
	  .title h1{
		font-size:1.5em;
	  }
	  .navbar-brand,h2,.h2{
		font-size:1.25em;
	  }
	  h3,.h3{
		font-size:1.25em;
	  }
	  .services-wrap {
		padding: 20px 15px;
		margin: 0px 0px 20px;
	  }
  }
